[build]
  base = "client"
  publish = "dist"
  command = "npm run build"

[build.environment]
  NODE_VERSION = "18"

[context.production.environment]
  VITE_API_URL = "https://video-editor-backend.onrender.com"